body {

    font-size: x-small;
    line-height: 1.5;
}

.header
{
    text-align: center;
    width: 100%; 
    font-size: 15px;
    margin-bottom: 10px;
}
.lista
{
    background-color:silver; 
}
table {  
    margin: 10px;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
    overflow:wrap;
}
td, th { 
    border: thin solid #000;  
    text-align: center;   
    padding: 3px;}
th{ 
    color:black; 
    text-align: center;}

.clear
{
    border: 0px solid white;
    padding-top: 10%;
}

.niver table
{
    border: 0px solid white;
}
.Formulario
{
    line-height: 2.5;
    font-size: larger;
    border-bottom:#000 solid 1px;
    padding: 10px;
}
.Resultado
{
    color: #900;
}
.inputform{    
    font-size:12px;
    border: none;
}
h1
{
    line-height: 1;
}
img {
    float: left;
    vertical-align: middle;
}
.cabecalho
{
    text-align: center;
}
