
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Membros
      <small>Cadastro / Alteração / Exclusão </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <a href="membro/inserir" class="btn btn-success">Cadastrar Membro</a>
    <table class="table table-hover" id="tb-users">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Telefones</th>
          <th>Aniversário</th>
          <th>Cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {loop="$membros"}
        <tr>
          <td>{$value.desnome}</td>
          <td>{$value.endereco}</td>
          <td>{$value.destelmovel}</td>
          <td>{$value.dtnascimento}</td>
          <td>{$value.dtcadastro}</td>
          <td><a href="membro/editar/{$value.idmembro}" class="btn btn-success">Editar</a> / <a href="membro/delete/{$value.idmembro}" class="btn btn-danger">Deletar</a></td>
        </tr>
        {/loop}
      </tbody>
    </table>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

